.search-form {
  background: #333;
  padding: 10px 40px;
  border-radius: 10px;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.search-form form {
  margin: 10px 0;
}
.search-form input {
  width: 70%;
}

.search-form input,
.search-form button {
  outline: none;
  padding: 14px;
  border-radius: 7px;
  border: none;
}

.search-form button {
  padding: 14px 40px;
  /* background: #6cc644; */
  background: rgb(250, 244, 222);
  margin: 0 8px;
  color: #333;
}
.search-results {
  background-color: rgb(250, 244, 222);
  padding: 10px 30px;
  margin: 20px 0;
  border-radius: 10px;
}
.user {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  align-items: center;
  padding: 0px 0px;
  /* border-bottom: #444 solid 1px; */
}

.user .image {
  width: 20%;
}
.user img {
  width: 20%;
  border-radius: 10%;
}

.user-info * {
  display: block;
  padding: 0 10px;
}
