.header {
  background-color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.search-form {
  background: #333;
  padding: 10px 40px;
  border-radius: 10px;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.gitLogo {
  width: 40px;
  height: 40px;
  background-color: #333;
}

.search-form form {
  margin: 10px 0;
}
.search-form input {
  width: 70%;
}

.search-form input,
.search-form button {
  outline: none;
  padding: 14px;
  border-radius: 7px;
  border: none;
}

.search-form button {
  padding: 14px 40px;
  background: #f0f0f0;
  margin: 0 8px;
  color: #333;
}

.sortBy {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.sortBy select {
  font-size: 16px;
}

.list {
  padding: 10px 30px;
  background-color: #f5f5f5;
  color: #333;
  margin: 20px 0;
  border-radius: 10px;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f5f5f5;
}

.user .image {
  width: 20%;
  background-color: #f5f5f5;
}
.user .image img {
  width: 100%;
  border-radius: 10%;
}

.userNameAndId {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #f5f5f5;
}

.user-info * {
  padding: 4px 10px;
  background-color: #f5f5f5;
}

.visitUser {
  text-decoration: none;
  color: #333;
  padding: 10px 40px;
  background-color: #f5f5f5;
}

.page-options {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: #f0f0f0;
}

.page-options select {
  padding: 8px 0;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #f0f0f0;
}

.currentPage {
  background-color: #f0f0f0;
}

.perPage {
  background-color: #f0f0f0;
  padding: 10px;
}

.pagination {
  display: flex;
  background-color: #f0f0f0;
}
.pagination button {
  padding: 8px 14px;
  border-radius: 4px;
  border: 1px solid #333;
  color: #333;
  margin: 10px 5px;
  display: flex;
}

.pagination button:hover {
  color: #f0f0f0;
  background-color: #333;
}

.linkUser {
  color: #333;
  text-decoration: none;
  padding: 4px 20px;
  background-color: #f5f5f5;
}

.textPrompt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: #6e5494;
}

.goToTop {
  position: fixed;
  bottom: 20px;
  right: 370px;
  border: none;
  background-color: none;
}

.goToTop:hover {
  transform: scale(1.2);
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user .image {
  width: 20%;
}
.user .image img {
  width: 100%;
  border-radius: 10%;
}

.userNameAndId {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #f5f5f5;
}

.user-info * {
  padding: 2px 8px;
  background-color: #f5f5f5;
}

.visitUser {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  font-size: 12px;
  background-color: #f5f5f5;
}

/* For Mobile Portrait View */
@media screen and (max-width: 480px) {
  .search-form {
    height: 100px;
  }

  h2 {
    font-size: 18px;
  }

  input::placeholder {
    font-size: 14px;
    text-align: center;
  }

  .gitLogo {
    width: 35px;
    height: 35px;
    background-color: #333;
  }

  .search-form form {
    margin: 6px 0;
  }
  .search-form input {
    width: 65%;
  }

  .search-form input,
  .search-form button {
    outline: none;
    padding: 4px;
    border-radius: 7px;
    border: none;
  }

  .search-form button {
    padding: 5.5px 10px;
    background: #f5f5f5;
    font-size: 10px;
    margin: 0 8px;
    color: #333;
  }

  .goToTop {
    position: fixed;
    bottom: 80px;
    right: 3px;
    border: none;
    background-color: transparent;
    border-radius: 0px;
  }

  .goToTop img {
    width: 30px;
    height: 30px;
  }

  .perPage {
    font-size: 10px;
    background-color: #f0f0f0;
    padding: 0;
  }

  .page-options {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: #f0f0f0;
  }

  .page-options select {
    padding: 1px 0;
    border-radius: 5px;
  }

  h4 {
    font-size: 8px;
    width: 40%;
  }

  .pagination button {
    padding: 4px 8px;
    border-radius: 4px;
    margin: 10px 5px;
    display: flex;
    justify-content: space-around;
    font-size: 8px;
    width: auto;
    height: 25px;
  }

  .textPrompt {
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15.5px;
    color: #6e5494;
  }
}
