* {
  background-color: #f5f5f5;
  /* background-color: red; */
}

.container {
  width: 700px;
  margin: 20px auto;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 700px;
    margin: 20px auto;
  }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container {
    width: 500px;
    margin: 10px auto;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .container {
    width: 300px;
    margin: 10px auto;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .container {
    width: 300px;
    margin: 10px auto;
  }
}
