@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  background: #f8f8f8;
}

body {
  margin: 0;
  font-family: "poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
